// border-radius
$border-rounded: 20rem;
$border-square: 0;
// margin-sizes
$margin-x: 2rem;
$margin-y: 4rem;
// Padding-sizes
$padding-x: 2rem;
$padding-y: 4rem;
// line-height
$line-height-small: 0.8;
