// Font-family
$primary-font: "Kanit", sans-serif;
$secondary-font: "Rajdhani", sans-serif;
// Font-sizes
$font-size-small: 0.75rem;
$font-size-normal: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xl: 4rem;
$font-size-xxl: 5rem;
