// Declaring variables:
// Font-family
$primary-font: "Kanit", sans-serif;
$secondary-font: "Rajdhani", sans-serif;
// Font-sizes
$font-size-small: 0.75rem;
$font-size-normal: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xl: 4rem;
$font-size-xxl: 5rem;
// Colors
$black: #000;
$blue: #1e1ba8;
$pink: #f72585;
$light-blue: #ecf9fd;
$white: #fff;
// line-height
$line-height-small: 0.8;
// border-radius
$border-rounded: 20rem;
$border-square: 0;
// margin-sizes
$margin-x: 2rem;
$margin-y: 4rem;
// Padding-sizes
$padding-x: 2rem;
$padding-y: 4rem;

// Reset styles:
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* a tags */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $secondary-font;
  color: $white;
  font-size: $font-size-normal;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// Start Styling
header {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  .nav {
    display: flex;
    justify-content: center;

    .nav__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;

      .nav__item {
        margin-right: 2.375rem;

        .nav__link {
          font-family: inherit;
          color: inherit;
        }
        .nav__link:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17rem;

    .hero__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $primary-font;
      line-height: $line-height-small;
      font-size: $font-size-medium;

      .emphasis {
        font-size: $font-size-xl;
      }
    }
    .hero__text {
      padding: 1rem;
    }
  }
}

main {
  // Projects section
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    color: $black;
    border-bottom: solid 1px $black;

    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        margin-bottom: 2rem;
      }

      .projects__item {
        display: flex;
        flex-direction: column;

        .projects__text-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          h3 {
            margin-bottom: 1rem;
          }

          .projects__list {
            text-align: start;
            margin-bottom: 1rem;
          }

          .projects__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;

            a:hover {
              text-decoration: underline;
            }
          }
        }

        .projects__image-box {
          margin-bottom: 4rem;
        }
      }
    }
  }
  // About section
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    color: $black;

    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image__container {
        background-image: url(/images/about_opt.png);
        background-position: center;
        background-size: cover;
        width: 16rem;
        height: 16rem;
      }

      .text__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        .about__title {
          margin: 2rem;
        }

        .btn-blue {
          background-color: $blue;
          border: 1px $blue solid;
          border-radius: $border-rounded;
          color: $white;
          text-transform: uppercase;
          padding: 0.5rem 3rem;
          margin: 2rem;
          transition: 400ms;
          cursor: pointer;
        }
        .btn-blue:hover {
          background-color: $light-blue;
          border: 1px $blue solid;
          color: $blue;
        }
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 1, 44);
    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contact__title {
        margin: 1rem;
      }

      .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .contact__text {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

footer {
  background-color: $black;
  text-align: center;

  .alignment {
    padding: $padding-y $padding-x;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__social-links {
      display: flex;
      justify-content: center;
      list-style: none;

      .footer__social-image {
        margin-right: 2.375rem;
      }

      .footer__social-image {
        height: 2rem;
      }
    }
    p {
      font-size: $font-size-small;
    }
  }
}

.btn {
  background-color: transparent;
  border: 1px $white solid;
  border-radius: $border-rounded;
  color: inherit;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  transition: 400ms;
  cursor: pointer;
}
.btn:hover {
  background-color: $white;
  color: $black;
}
