@use "../styles/reset/reset" as *;
@use "../styles/globals/boilerplate" as *;
@use "../styles/globals/colors" as *;
@use "../styles/globals/fonts" as *;

// Start Styling
header {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  .nav {
    display: flex;
    justify-content: center;

    .nav__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;

      .nav__item {
        margin-right: 2.375rem;

        .nav__link {
          font-family: inherit;
          color: inherit;
        }
        .nav__link:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17rem;

    .hero__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $primary-font;
      line-height: $line-height-small;
      font-size: $font-size-medium;

      .emphasis {
        font-size: $font-size-xl;
      }
    }
    .hero__text {
      padding: 1rem;
    }
  }
}

main {
  // Projects section
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    color: $black;
    border-bottom: solid 1px $black;

    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        margin-bottom: 2rem;
      }

      .projects__item {
        display: flex;
        flex-direction: column;

        .projects__text-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          h3 {
            margin-bottom: 1rem;
          }

          .projects__list {
            text-align: start;
            margin-bottom: 1rem;
          }

          .projects__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;

            a {
              color: $black;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }

        .projects__image-box {
          margin-bottom: 4rem;
        }
      }
    }
  }
  // About section
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    color: $black;

    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image__container {
        background-image: url(/images/about_opt.png);
        background-position: center;
        background-size: cover;
        width: 16rem;
        height: 16rem;
      }

      .text__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        .about__title {
          margin: 2rem;
        }

        .btn-border {
          padding: 0.5rem 3rem;
          margin: 2rem;
        }
        .btn-border:hover {
          background: $light-blue;
          border: 1px $blue solid;
          color: $blue;
        }
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 1, 44);
    .alignment {
      padding: $padding-y $padding-x;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contact__title {
        margin: 1rem;
      }

      .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .contact__text {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

footer {
  background-color: $black;
  text-align: center;

  .alignment {
    padding: $padding-y $padding-x;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__social-links {
      display: flex;
      justify-content: center;
      list-style: none;

      .footer__social-image {
        margin-right: 2.375rem;
      }

      .footer__social-image {
        height: 2rem;
      }
    }
    p {
      font-size: $font-size-small;
    }
  }
}

.btn {
  background: rgb(30, 27, 168);
  background: linear-gradient(
    234deg,
    rgba(30, 27, 168, 1) 0%,
    rgba(247, 37, 133, 1) 100%
  );
  // background-color: transparent;
  // border: 1px $white solid;
  border-radius: $border-rounded;
  color: $white;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  transition: 400ms;
  cursor: pointer;
}
.btn:hover {
  background: $white;
  color: $black;
}
